.full-post {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.edit label {
    display: block;
    color: grey;
}

.edit button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: #fa923f;
}

.edit button:hover,
.edit button:active {
    color: #521751;
}

.edit .delete {
    color: red;
}

.edit .delete:hover,
.edit .delete:active {
    color: darkred;
}
